openapi: 3.1.0
info:
  title: Bridge RESO Web Agents Metadata API
  version: '2.0'
  description: 'RESO Platinum-certified Web API for MLS listing data, served by Bridge (a Zillow Group company).

    Data is normalized to the RESO Data Dictionary and queryable via OData 4.0. Bridge interprets

    OData `$top` as page size (default 10, max 200 via the `maxpagesize` header) and extends the spec

    with an `unselect` parameter that returns all fields except those listed.


    Each request is scoped to a `{dataset}` (the MLS dataset code) and must carry an `access_token` —

    either as a query parameter or via the `Authorization: Bearer` header.

    '
  contact:
    name: Bridge Interactive Support
    email: support@bridgeinteractive.com
    url: https://www.bridgeinteractive.com/contact/
  license:
    name: Bridge Data Output Terms of Use
    url: https://www.bridgeinteractive.com/terms-of-use/
servers:
- url: https://api.bridgedataoutput.com/api/v2/OData
  description: Production v2 OData endpoint
- url: https://api.bridgedataoutput.com/api/v3/OData
  description: Production v3 OData endpoint
security:
- BearerAuth: []
- AccessToken: []
tags:
- name: Metadata
  description: Service document and CSDL schema discovery
paths:
  /{dataset}:
    get:
      tags:
      - Metadata
      summary: Get Service Document
      description: Returns the OData service document listing all entity sets available in the dataset.
      operationId: getServiceDocument
      parameters:
      - $ref: '#/components/parameters/Dataset'
      responses:
        '200':
          description: OData service document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDocument'
  /{dataset}/$metadata:
    get:
      tags:
      - Metadata
      summary: Get CSDL Metadata
      description: Returns the dataset's OData CSDL ($metadata) XML describing all entity types, properties, and navigation properties.
      operationId: getMetadata
      parameters:
      - $ref: '#/components/parameters/Dataset'
      responses:
        '200':
          description: CSDL metadata document
          content:
            application/xml:
              schema:
                type: string
components:
  schemas:
    ServiceDocument:
      type: object
      properties:
        '@odata.context':
          type: string
        value:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              kind:
                type: string
              url:
                type: string
  parameters:
    Dataset:
      name: dataset
      in: path
      required: true
      description: MLS dataset code (e.g. `test`, `actris_ref`, `mlspin`).
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: '`Authorization: Bearer {access_token}` issued by Bridge per dataset.'
    AccessToken:
      type: apiKey
      in: query
      name: access_token
      description: Per-dataset access token passed as a query parameter.
