openapi: 3.2.0
info:
  title: Bridge Web Listings API
  version: '2.0'
  description: 'Bridge''s native (non-OData) RESTful Web API. Returns the same RESO-normalized resources as the

    OData endpoint but in a flatter JSON envelope optimized for clients that don''t want the OData

    metadata layer. All requests are scoped to a `{dataset}` and authenticated with an `access_token`.'
  contact:
    name: Bridge Interactive Support
    email: support@bridgeinteractive.com
servers:
- url: https://api.bridgedataoutput.com/api/v2
  description: Production v2
security:
- AccessToken: []
tags:
- name: Listings
paths:
  /{dataset}/listings:
    get:
      tags:
      - Listings
      summary: List Listings
      description: Returns listings (Properties) for the dataset with RESO field naming.
      operationId: listListings
      parameters:
      - $ref: '#/components/parameters/Dataset'
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
      - name: sortBy
        in: query
        schema:
          type: string
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: fields
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Listing collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    type: integer
                  bundle:
                    type: array
                    items:
                      type: object
                  total:
                    type: integer
  /{dataset}/listings/{listingId}:
    get:
      tags:
      - Listings
      summary: Get Listing
      operationId: getListing
      parameters:
      - $ref: '#/components/parameters/Dataset'
      - name: listingId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Listing record
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    Dataset:
      name: dataset
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    AccessToken:
      type: apiKey
      in: query
      name: access_token
