openapi: 3.2.0
info:
  title: Bridge RESO Web Open House API
  version: '2.0'
  description: RESO Platinum-certified Web API for MLS listing data, served by Bridge (a Zillow Group company).
  contact:
    name: Bridge Interactive Support
    email: support@bridgeinteractive.com
    url: https://www.bridgeinteractive.com/contact/
  license:
    name: Bridge Data Output Terms of Use
    url: https://www.bridgeinteractive.com/terms-of-use/
servers:
- url: https://api.bridgedataoutput.com/api/v2/OData
  description: Production v2 OData endpoint
- url: https://api.bridgedataoutput.com/api/v3/OData
  description: Production v3 OData endpoint
security:
- BearerAuth: []
- AccessToken: []
tags:
- name: OpenHouse
  description: RESO OpenHouse resource
paths:
  /{dataset}/OpenHouse:
    get:
      tags:
      - OpenHouse
      summary: List Open Houses
      description: Query the OpenHouse entity set with OData query options.
      operationId: listOpenHouses
      parameters:
      - $ref: '#/components/parameters/Dataset'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Select'
      - $ref: '#/components/parameters/OrderBy'
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      responses:
        '200':
          description: OpenHouse collection
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    Filter:
      name: $filter
      in: query
      description: OData filter expression (e.g. `ListPrice gt 500000 and StandardStatus eq 'Active'`).
      schema:
        type: string
    Skip:
      name: $skip
      in: query
      description: Number of records to skip.
      schema:
        type: integer
    Dataset:
      name: dataset
      in: path
      required: true
      description: MLS dataset code (e.g. `test`, `actris_ref`, `mlspin`).
      schema:
        type: string
    Top:
      name: $top
      in: query
      description: Page size. Bridge interprets `$top` as page size (not total collection size). Default 10, max 200.
      schema:
        type: integer
        default: 10
        maximum: 200
    OrderBy:
      name: $orderby
      in: query
      description: Sort expression (e.g. `ModificationTimestamp desc`).
      schema:
        type: string
    Select:
      name: $select
      in: query
      description: Comma-separated list of fields to return.
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: '`Authorization: Bearer {access_token}` issued by Bridge per dataset.'
    AccessToken:
      type: apiKey
      in: query
      name: access_token
      description: Per-dataset access token passed as a query parameter.
